.bsp
.bloop
.metals

/backups/
/target/
/project/**/target/
/project/**/metals.sbt
/project/**/.bloop
/app/
/app/**/scala-3.2.0
/app/**/streams
/app/**/target

/.idea
/.bloop
/.metals
/.vscode

/assets/.temp
